# Ignore the entire ARS directory
ARS
__pycache__/

.env
# Ignore all files and subdirectories in the .github directory
.github/

# Ignore all files and subdirectories in the Artifacts directory
Artifacts/

# Ignore all files and subdirectories in the logs directory
logs/

datasets/
models/
